site_name: Apunts
site_url: https://vokimon.github.io/apunts
site_author: vokimon
site_description: Apunts i notes de coses que aprenc
repo_url: https://github.com/vokimon/apunts
nav:
  - README: README.md
  - Computers:
    - web:
      - css:
        - computers/css-basics.md
        - computers/css.md
        - computers/css-design-principles.md
        - computers/css-boxmodel.md
        - computers/css-normalflow.md
        - computers/css-flexbox.md
        - computers/css-grid.md
        - computers/css-animations.md
        - computers/css-typography.md
        - computers/css-methodologies-architectures.md
        - computers/css-frameworks.md
      - javascript:
        - computers/jsecosystem.md
        - computers/jsonschema.md
        - computers/react-formik.md
        - computers/react.md
        - computers/mui-theming.md
        - computers/d3/00-d3.md
      - computers/rest.md
      - computers/svg.md
    - godot:
        - computers/godot/godot.md
        - computers/godot/concepts.md
        - computers/godot/tiling.md
        - computers/godot/physics.md
        - computers/godot/ui.md
        - computers/godot/shaders.md
        - computers/godot/particles.md
        - computers/godot/addons.md
        - computers/godot/lighting.md
        - computers/godot/new-addons.md
    - Android:
        - computers/android/android-glossary.md
        - computers/android/kotlin.md
        - computers/android/kotlin-corutines.md
        - computers/android/viewmodel.md
        - computers/android/compose.md
    - Standards:
        - IPv6: computers/ip6.md
        - computers/specs-pdf.md
    - computers/time/time.md
    - computers/unicode.md
    - computers/security.md
    - computers/cligrafics/00-imagemagick.md
    - computers/computer-graphics.md
    - computers/cpp11.md
    - computers/deeplearning.md
    - computers/docker.md
    - computers/timewarrior.md
    - computers/xpxplained.markdown
    - computers/branching-patterns.md
    - computers/rust.md
  - Math:
    - Math Foundations: math/math-fundation.md
    - Writting Math: math/math-writting.md
    - Statistics: math/stats.md
    - Half Derivatives: math/math-halfderivatives.md
    - Quadratic Formula: math/math-quadraticformula-alternative.md
    - Wavelets: math/math-wavelets.md
    - Collatz Conjecture: math/math-3n1.md
    - Binary math: math/math-binary.md
    - Geometric Algebra: math/math-geometric-algebra.md
  - Music:
    - music/music-harmony.md
    - music/music-harmony-scales.md
    - music/guitar-technics.md
    - music/guitar-fret-navigation.md
    - Pentatonicas: music/pentatonicas.txt
    - music/songs.md
    - music/ukelele.md
    - music/drums.md
    - music/online-resources.md
    - music/piano.md
    - music/song-ledzeppeling.md
    - music/song-linkinpark.md
    - music/songs-supertramp.md
  - Languages:
    - Phonetics Consonants: lang/consonantes-afi.png
    - Phonetics Vowels: lang/vowels.jpg
    - lang/arabic-alphabet.md
    - lang/arabic.md
    - Deutsch: lang/deutsch.md
    - Japanese:
        - lang/japan.md
        - lang/japan-char-sheet.md
        - lang/japan-grammar.md
        - lang/japan-kanji.md
    - English:
        - lang/english-expresions.md
        - lang/english-old-pronoums.md
        - lang/english-prepositions.md
        - lang/english-tenses.md
        - lang/english-body.md
        - lang/english-kitchen.md
        - lang/english-modern-shortcuts.md
        - lang/english-phasal-verbs.md
        - lang/vocabulary-somenergia.md
    - lang/vocabulary-edibles.md
    - lang/ruso-alphabet.md
    - lang/spanish.md
    - lang/stylistic-figures.md
  - History:
    - history/cristianismo.md
    - history/manipulation.md
    - history/2025-discoveries.md
  - Economics:
      - varios/economics.md
  - Psicology:
      - varios/porque-creemos-en-mierdas.md
  - 3D:
      - 3d/3d-production-pipeline.md
      - 3d/blender-materials.md
      - 3d/blender-busto.md
      - 3d/blender-comic-look.md
      - 3d/blender-dynamic-camera.md
      - 3d/blender-geometry-nodes.md
      - 3d/blender-modeling.md
      - 3d/blender-realistic-setup.md
      - 3d/blender-rigging.md
  - Laboral:
      - laboral/comunicacio_de_crisi.md
      - laboral/lideratges-autogestionat.md
      - laboral/reunionseficients.md
      - laboral/okrnnl.md
      - laboral/placomunicacio.md

  - Misc:
      - varios/aditivos.md



markdown_extensions:
  - customblocks
  - def_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
extra_css:
  - css/figure.css
  - css/linkcard.css
  - css/videowrapper.css
  - #css/admonition.css
  - https://unpkg.com/katex@0/dist/katex.min.css # katex
theme:
  logo: apunts.svg
  name: material
  language: en
  extra:
    include_toc: true
  highlightjs: true
  hljs_languages:
    - yaml
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  version:
    provider: mike
  features:
    - navigation.instant # load content instead of refreshing the page
    - navigation.sections
  plugins:
    - mike:
        # these fields are all optional; the defaults are as below...
        version_selector: true   # set to false to leave out the version selector
        css_dir: css             # the directory to put the version selector's CSS
        javascript_dir: js       # the directory to put the version selector's JS
        canonical_version: null  # the version for <link rel="canonical">; `null`
         # uses the version specified via `mike deploy`
    - offline

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

